/* ====================================== */
/* FOOTER */
/* ====================================== */

footer {
  margin: 3rem 0rem 1rem 0rem; /* top | right | bottom | left */
  text-align: center;
  opacity: 0.7;
  font-size: clamp(0.8rem, 1vw, 0.95rem);
  font-weight: 300;
}
