/* ====================================== */
/* FOOTER                                 */
/* ====================================== */

footer {
  margin: 3rem auto 1rem; /* Margen superior | automático para centrar | inferior */
  text-align: center;
  opacity: 0.7;
  font-size: clamp(0.8rem, 1vw, 0.95rem);
  font-weight: 300;
}
