/* ====================================== */
/* HOME / INICIO                          */
/* ====================================== */

/* Bloque inicio */
.home-container {
  max-width: 40rem;
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 0;
  margin: 0 0 0 2rem;
  text-align: justify;
}

/* Título principal */
.home-container h1 {
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  font-weight: 700;
  margin: 0;
  color: var(--text);
}

/* Subtítulo */
.home-container .subtitle {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 400;
  color: var(--text);
  margin: -0.2rem 0 0.5rem 0;
}

/* Texto introductorio */
.home-container .lead {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  opacity: 0.65;
  margin-bottom: 0.5rem;
  font-style: italic;
  text-align: justify;
  font-weight: 300;
  hyphens: auto;
  word-break: normal;
  color: var(--text);
}

/* Botones en inicio */
.home-grid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Estilo de los enlaces */
a.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0.9rem;
  font-size: 0.95rem;
  color: var(--text);
  font-weight: 700;
}

/* ====================================== */
/* Estilos para móviles (Responsive)      */
/* ====================================== */

@media (max-width: 700px) {
  .home-container {
    min-height: 75dvh;
    max-width: 100vw;
    margin: 0 auto; /* Margen lateral para móvil */
    padding: 1.5rem 2rem; /* Padding interior */
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .home-grid {
    justify-content: center; /* Centra los botones horizontalmente */
  }

  .home-container h1 {
    font-size: clamp(1.2rem, 5vw, 2.5rem);
  }

  .subtitle {
    font-size: clamp(1rem, 4vw, 1.5rem);
    margin: -0.2rem 0 0.5rem 0;
  }

  .lead {
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    opacity: 0.85;
  }
}
