/* ====================================== */
/* HOME / INICIO */
/* ====================================== */

/* Bloque inicio */
.home-container {
  max-width: 40rem;
  min-height: 80dvh;             /* Ocupa la pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinea el contenido abajo */
  align-items: flex-start;   /* Alineado a la izquierda */
  padding: 0rem;             /* Espacio interior */
  margin: 0 0 0 2rem; /* Equivalente a margin-top: 0, margin-right: 0, margin-bottom: 0, margin-left: 2rem */          
  text-align: justify;
  box-sizing: border-box;      /* Incluye padding en height */
}

/* Título principal */
.home-container h1  {
  font-size: clamp(1.2rem, 3vw, 2.5rem); 
  font-weight: 700;
  margin: 0;
  color: var(--text);
}

/* Subtítulo */
.home-container .subtitle {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 400;
  color: var(--text);
  margin: -0.2rem 0 0.5rem 0; /* Ajustado separación con título y texto */
}

/* Texto introductorio */
.home-container .lead {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  opacity: 0.85;
  margin-bottom: 0.5rem;
  font-style: italic;
  text-align: justify;
  font-weight: 300;
  hyphens: auto; /*divide palabras largas según idioma*/
  word-break: normal; /*rompe solo si es necesario*/
}

/* Botones en inicio */
.home-grid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Estilo de los enlaces*/
a.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0.9rem;
  /*border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;*/
  font-size: 0.95rem;
  color: var(--text);
  font-weight: 700;
}
